.hed > .nav {
  color: $main-color;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-style: normal;
  padding-bottom: 32px;
  transition: transition;
}
.nav:focus {
  background-color: transparent;
}

.nav:hover {
  color: $accent-color;
  outline: none;
}

.nav-border {
  display: inline-block;
  position: relative;
  transition: $transition;
}
.nav-border::after {
  transition: $transition;
}
.nav-border:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: $transition;
}
.info {
  display: flex;
  padding-right: 0;
  margin-bottom: 0;
  text-align: left;
}
.link-nav {
  margin-left: 85px;
}
.link-nav-size {
  display: flex;
  margin-left: auto;
}
.hed:not(:last-child) {
  margin-right: 40px;
}
.hed {
  .a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.addres:not(:last-child) {
  margin-right: 30px;
}
.icon-vectorsmartphone {
  /* --color2: var(--text-color); */
  /* fill: var(--text-color); */
  margin-right: 10px;
}
.addres:hover .icon-vectorsmartphone {
  --color2: $accent-color;
}

.icon-envelope {
  /*  fill: var(--text-color); */
  margin-right: 10px;
}
.addres:hover .icon-envelope {
  --color2: $accent-color;
}
.menu {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
}
